In [1]:
import pandas as pd
import altair as alt

In [2]:
df = pd.read_excel("Week9MM.xlsx")
df

            Grade  Hours Needed  Hours Averaged
0    Kindergarten           9.5             8.5
1     First grade           9.1             8.4
2    Second grade           9.3             8.3
3     Third grade           8.6             8.1
4    Fourth grade           8.9             7.9
5     Fifth grade           8.9             7.8
6     Sixth grade           8.6             7.6
7   Seventh grade           8.5             7.3
8    Eighth grade           8.5             7.4
9     Ninth grade           8.3             7.1
10     10th grade           8.4             6.8
11     11th grade           8.4             6.9
12     12th grade           8.0             6.6

In [3]:
# Convert dataset into long and thin format
df.set_index("Grade", inplace = True)
df = df.stack(level=-1)
df

Grade
Kindergarten   Hours Needed      9.5
               Hours Averaged    8.5
First grade    Hours Needed      9.1
               Hours Averaged    8.4
Second grade   Hours Needed      9.3
               Hours Averaged    8.3
Third grade    Hours Needed      8.6
               Hours Averaged    8.1
Fourth grade   Hours Needed      8.9
               Hours Averaged    7.9
Fifth grade    Hours Needed      8.9
               Hours Averaged    7.8
Sixth grade    Hours Needed      8.6
               Hours Averaged    7.6
Seventh grade  Hours Needed      8.5
               Hours Averaged    7.3
Eighth grade   Hours Needed      8.5
               Hours Averaged    7.4
Ninth grade    Hours Needed      8.3
               Hours Averaged    7.1
10th grade     Hours Needed      8.4
               Hours Averaged    6.8
11th grade     Hours Needed      8.4
               Hours Averaged    6.9
12th grade     Hours Needed      8.0
               Hours Averaged    6.6
dtype: float64

In [4]:
# Convert series back to df
df = df.to_frame().reset_index()
df

            Grade         level_1    0
0    Kindergarten    Hours Needed  9.5
1    Kindergarten  Hours Averaged  8.5
2     First grade    Hours Needed  9.1
3     First grade  Hours Averaged  8.4
4    Second grade    Hours Needed  9.3
5    Second grade  Hours Averaged  8.3
6     Third grade    Hours Needed  8.6
7     Third grade  Hours Averaged  8.1
8    Fourth grade    Hours Needed  8.9
9    Fourth grade  Hours Averaged  7.9
10    Fifth grade    Hours Needed  8.9
11    Fifth grade  Hours Averaged  7.8
12    Sixth grade    Hours Needed  8.6
13    Sixth grade  Hours Averaged  7.6
14  Seventh grade    Hours Needed  8.5
15  Seventh grade  Hours Averaged  7.3
16   Eighth grade    Hours Needed  8.5
17   Eighth grade  Hours Averaged  7.4
18    Ninth grade    Hours Needed  8.3
19    Ninth grade  Hours Averaged  7.1
20     10th grade    Hours Needed  8.4
21     10th grade  Hours Averaged  6.8
22     11th grade    Hours Needed  8.4
23     11th grade  Hours Averaged  6.9
24     12th grade    Hours Needed  8.0
25     12th grade  Hours Averaged  6.6

In [5]:
# Change column names to strings so they can be renamed
df.columns = df.columns.astype(str)

In [6]:
# Rename columns
df.rename(columns={"level_1": "Category", "0": "Value"}, inplace = True)
df

            Grade        Category  Value
0    Kindergarten    Hours Needed    9.5
1    Kindergarten  Hours Averaged    8.5
2     First grade    Hours Needed    9.1
3     First grade  Hours Averaged    8.4
4    Second grade    Hours Needed    9.3
5    Second grade  Hours Averaged    8.3
6     Third grade    Hours Needed    8.6
7     Third grade  Hours Averaged    8.1
8    Fourth grade    Hours Needed    8.9
9    Fourth grade  Hours Averaged    7.9
10    Fifth grade    Hours Needed    8.9
11    Fifth grade  Hours Averaged    7.8
12    Sixth grade    Hours Needed    8.6
13    Sixth grade  Hours Averaged    7.6
14  Seventh grade    Hours Needed    8.5
15  Seventh grade  Hours Averaged    7.3
16   Eighth grade    Hours Needed    8.5
17   Eighth grade  Hours Averaged    7.4
18    Ninth grade    Hours Needed    8.3
19    Ninth grade  Hours Averaged    7.1
20     10th grade    Hours Needed    8.4
21     10th grade  Hours Averaged    6.8
22     11th grade    Hours Needed    8.4
23     11th grade  Hours Averaged    6.9
24     12th grade    Hours Needed    8.0
25     12th grade  Hours Averaged    6.6

In [61]:
bar1 = (alt.Chart(df).mark_bar(fill='white', stroke='#376c94').encode(
    alt.X('Value:Q'),
    alt.Y('Grade:N',
          sort=[
              'Kindergarten', 'First grade', 'Second grade', 'Third grade',
              'Fourth grade', 'Fifth grade', 'Sixth grade', 'Seventh grade',
              'Eighth grade', 'Ninth grade', '10th grade', '11th grade',
              '12th grade'
          ]), tooltip = ['Grade', 'Value']).transform_filter(
              alt.FieldEqualPredicate(field='Category', equal='Hours Needed')))

bar2 = (alt.Chart(df).mark_bar(color='#376c94').encode(
    alt.X('Value:Q', title="Hours of sleep"),
    alt.Y('Grade:N',
          title=None,
          sort=[
              'Kindergarten', 'First grade', 'Second grade', 'Third grade',
              'Fourth grade', 'Fifth grade', 'Sixth grade', 'Seventh grade',
              'Eighth grade', 'Ninth grade', '10th grade', '11th grade',
              '12th grade'
          ]), tooltip = ['Grade', 'Value']).transform_filter(
              alt.FieldEqualPredicate(field='Category',
                                      equal='Hours Averaged')))

(bar1 + bar2).configure_axis(grid=False).properties(
    title={
        "text": "How many hours of sleep do children get?",
        "subtitle": "Blue: hours averaged | White: hours needed"
    }).configure_view(
        strokeOpacity=0).configure_axisY(  # left aligns y-axis labels
            titleAngle=0,
            titleY=-10,
            titleX=-60,
            labelPadding=90,
            labelAlign='left')

alt.LayerChart(...)